<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wang.calculator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_calculator_foreground"
        android:label="제어계산기"
        android:roundIcon="@mipmap/ic_launcher_calculator_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9708062265777742~9088121023" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Calculator"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Calculator1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Calculator2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CheckSheet"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>